<?xml version="1.0" encoding="UTF-8"?>

<launch> 
    <!-- for Map Server Node -->
    <arg name="map_file" default="$(find my_robot)/maps/MyWorld.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
    </node>

    <!-- Move Base Node -->

</launch>
